main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    text-align: center;
}


.main-form h1 {
    color: white;
    font-size: 60px;
}

input {
    font-size: 60px;
    background: none;
    border: none;
    background: none;
    text-align: center;
    color: white;
}

.main-form input {
    border-bottom: 4px solid white;
}

input:focus {
    outline: none;
}

.title__clock  {
    font-size: 150px;
}

.title__greeting {
    font-size: 50px;
    margin-bottom: 60px;
}

.must-form h1 {
    font-size: 35px;
}

.must-form input {
    font-size: 40px;
    border-bottom: 3px solid white;
}

.must {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
}


.must-title {
    font-size: 30px;
}

.must h1 {
    margin-top: 20px;
    font-size: 40px;
}


.must button {
    background: none;
    border: none;
    font-size: 20px;
    height: 0px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    position: relative;
    bottom: 5px;

}



#weather {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}