footer {
    width: 100vw;
}

.quotes {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.quotes:hover {
    bottom: 30px;
}

.quotes span:first-child {
    font-size: 20px;
}


.hover {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s ease-in;
}

.quotes:hover .hover{
    color: white;
}
