@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap');

@import 'reset.css';

@import "face.css";
@import "footer.css";
@import "todo.css";


body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
    position: relative;
}

.hidden {
    display:none;
}







